<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label for="c-order_sn" class="control-label col-xs-12 col-sm-2">{:__('Order_sn')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-order_sn" data-rule="required" class="form-control" name="row[order_sn]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-amount" class="control-label col-xs-12 col-sm-2">{:__('Amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-amount" data-rule="required" class="form-control" step="0.01" name="row[amount]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label for="c-order_name" class="control-label col-xs-12 col-sm-2">{:__('Order_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-order_name" data-rule="required" class="form-control" name="row[order_name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-phone" class="control-label col-xs-12 col-sm-2">{:__('Phone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-phone" data-rule="required" class="form-control" name="row[phone]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-system_version" class="control-label col-xs-12 col-sm-2">{:__('System_version')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-system_version" data-rule="required" class="form-control" name="row[system_version]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label for="c-system" class="control-label col-xs-12 col-sm-2">{:__('System')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-system" data-rule="required" class="form-control" name="row[system]" type="number">
        </div>
    </div>
    <div class="form-group">
        <label for="c-user_id" class="control-label col-xs-12 col-sm-2">{:__('User_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user_id" data-rule="required" data-source="user/index" data-field="nickname" class="form-control selectpage" name="row[user_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label for="c-code" class="control-label col-xs-12 col-sm-2">{:__('Code')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-code" class="form-control" name="row[code]" type="text">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
